.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 50px 10px 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo_p{
    font-weight: 700;
    font-size: 26px;
    line-height: 60%;
    letter-spacing: 0%;
    border: 1px solid #458FF6;
    background-color: #458FF6;
    border-radius: 999px;
    width: 43px;
    height: 30px;
    color: white;
    text-align: center;
    padding: 18px 0px 0px 0px ;
    margin-right: 10px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 350px;
    width: 100%;
}
header>img{
    margin: -100px;
    width: 50px;
    /* z-index: -1; */
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo>h1,.logo_foot>h1{
    font-weight: 700;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0%;

}

.virtual h1, .service h1{
    font-size: 60px;
}

.virtual h2, .service h2{
    font-size: 30px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #7D7987;
    /* color: #1F1534; */
    /* font-weight: bold; */

}
.active{
    color: #1F1534;
    font-weight: 700;
    font-size: 18px;
}
nav ul li a:hover{
    color: lightseagreen;
}


/* first */
.virtual{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}
button{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #458FF6;
    border: 1px solid #458FF6;
    border-radius: 1000px;
    width: 200px;
    color: white;
    height: 58px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: #458FF6;
}

.service>button,.virtual>div>div>button{
    margin-top: 50px;
    background-color: white;
    color: #458FF6;
}
.service>button:hover,.virtual>div>div>button:hover{
    margin-top: 50px;
    background-color:#458FF6;
    color: white;
}
.virtual>div>hr{
    margin-right:100% ;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
}
.pservice{
    margin-bottom: 60px;
    text-align: center;
}


hr{
    width: 50px;
    border: 1.5px solid #000000;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imgs/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.card{
    border:1px solid rgb(245, 239, 239);
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(215, 216, 224);
    margin: 20px 20px 20px 20px;
    padding: 30px 20px 40px 20px;
    width: auto;
    height: 250px;
}

.card>img{
    width: fit-content;
}
p{
  color: #7D7987;
  width: auto;
}
.article_cards{
    display: flex;
    justify-content: center;
    align-items: center;

}

.article_card{
    border:1px solid rgb(245, 239, 239);
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(215, 216, 224);
    margin: 20px 20px 20px 20px;
    padding: 0px 0px 40px 0px;
    width: auto;
}
.article_card>div{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 20px;
    width: auto;

}
.article_card>img{
   border:1px solid rgb(245, 239, 239);
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.article_card>div>a{
    color: #4089ED;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
.customers{
    color: #FFFFFF;
    background-color:#5A98F2;
    border:1px solid rgb(245, 239, 239);
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(215, 216, 224);
    margin: 100px 20px 20px 20px;
    padding: 20px 10px 40px 20px;
    width: auto;
}
.customer_head>hr{
    border: 1.5px solid #FFFFFF;
}

.customer{
    display: flex;
    gap: 100px;
    padding: 40px 40px 40px 40px;
}

.customer_head{
    text-align: center;
}
.customer>img{
    border:1px solid rgb(245, 239, 239);
    border-radius: 999px;
}

.test{
    display: flex;
    gap: 20px;

}
footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    color: aliceblue;
    background-color: #5A98F2;
    border:1px solid rgb(245, 239, 239);
    box-shadow: 0 0 15px rgb(215, 216, 224);
    margin-top: 100px;
    padding: 100px 100px 100px 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    /* width: 100%; */
}

footer>div>div>a,.p_test{
    text-decoration: none;
    color: rgb(234, 233, 233);
    font-weight: bold;
}

.logo_foot{
    display: flex;
    align-items: center;
}
.logo_foot>.logo_p{
    border: 1px solid white;
    background-color: white;
    color: #458FF6;
}
footer>div>p,.p_t{
    color: rgb(234, 233, 233);
}
.part_foot{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.foot_a{
    font-weight: 300;
}

/* .dots{
    margin-bottom: 0;
    width: 20px;
} */